*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html{
    height: 500vh;
}



.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}


header.rolagem{
    background-color: rgb(231, 195, 195);
    padding: 10px 2%;
}

header.rolagem a, header.rolagem i{
    color: brown;

}

header i{
    font-size: 30px;
    color: #000;
}

header ul{
    list-style: none;
    
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
 color: saddlebrown;
 text-decoration: none;

}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: rgb(138, 92, 60);
    color: rgb(233, 149, 40);
    cursor: pointer;
    transition: .2s;
}






.banner{
    height: 100vh;
    background-image: url(bannerz.jpg)  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}
.banner h1 span{
    color: rgb(236, 169, 82);
} 
