$color: rgba(194, 139, 11, 0.452);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body {
    background-color: rgb(226, 226, 226);
    
}


html{
    height: 500vh;
}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}


header.rolagem{
    background-color: rgba(177, 171, 171, 0.651);
    padding: 10px 2%;
}

header.rolagem a, header.rolagem i{
    color: rgb(109, 81, 5);

}

header ul{
    list-style: none;
    
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: rgb(109, 81, 5);
    text-decoration: none;

}

.temp{
    height: 100vh;
    background-image: url(sedan\ esporte.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
} 
.temp h3{
    color: rgb(163, 64, 64);
    margin-top: -11em ;
    margin-left: 3em ;
}
.temp h1{
    margin-left: -4.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -2em;
    font-size: 3.5em;
    color: white;
    
}
.titu h2{
    color: rgb(88, 88, 88);
    text-align: center;
    font-size: 2em;
    margin: 20px;

 } .meio h4{
    color: rgb(88, 88, 88);
    font-size: 15px;
    text-align: center;
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
.info h1{
    color: white;
    text-align: right;
    margin-top: -8em;
    font-size: 3.8em;
     margin-right: 1em;
    
}
.jeep img{
    margin: 5px;
    width: 800px;

}
.pal h4{
    color: rgb(88, 88, 88);
    text-align: right;
    margin-right: 16.5em;
    font-size: 1em;
    margin-top: 60px;

}
.ov img{
    margin-top: -1.8em;
    position: absolute;
    right:29.5em;
    
}
.teto img{
    margin-top: -1.5em;
    position: absolute;
    right:29.5em;

}
.tet{
    color: rgb(88, 88, 88);
    text-align: right;
    margin-top: 50px;
    margin-right: 17.5em;

}
.mult{
    color: rgb(88, 88, 88);
     text-align: right;
     margin-top: 50px;
     margin-right: 13.5em;

}
.os img{
    width: 30px;
    height: 30px;
    margin-top: -1.5em;
    position: absolute;
    right:29.5em;

}
.roda{
    color: rgb(88, 88, 88);
     text-align: right;
     margin-top: 50px;
     margin-right: 12.7em;

}
.aro img{
    width: 30px;
    height: 30px;
    margin-top: -1.6em;
    position: absolute;
    right:29.5em;

}
.corpo{
    background-color: rgb(216, 215, 215);
    
}
.bnt-comprar{
    text-align: right;
    margin-top: 3em;
    margin-right: 12em;

}

.bnt-comprar button {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 170px;
    height: 50px;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
    cursor: pointer;

}

.KK{
    color: rgb(112, 112, 112);
    margin-top: 60px;
    text-align: CENTER;
        
}
.encontre h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.encontre {
    color: rgb(59, 59, 59);
    margin: 50px;
    text-align: CENTER;
    font-size: 26px;

}
.pesquisar img{
   margin-left: 20.5em;

}
.pesq{
    margin-top: 2em;
    margin-left: 19em;
    color: black;

}
.bnt-pesquisa2 button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 21px 41px ;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1em;
    cursor: pointer;

}
.tesla {
    margin-top: -7.7em;
    text-align: center;

}
.teslat{
    margin-top: 2em;
    text-align: center;

}

.bnt-pesquisar button{ 
    margin-left: 15em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 21px 40px ;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
    cursor: pointer;

}


.confg{
    margin-top: -7.8em;
    margin-right: 19em;
    text-align: right;

}
.confgt{
    margin-top: 2em;
    margin-right: 17em;
    text-align: right;

}
tr{
   list-style: none;

}
tr td{
    display: inline-block;
    margin: 60px 65px ;
    
}
.bnt-conf{
    margin-right: 0em;
    float: right;
}
.bnt-conf button{
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 21px 41px ;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1em;
    color: black;

}
.cuper {
    background-image: url(mini\ cuper.jpg);
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
   
}

.cuper h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-left: 5em;
    margin-top: 3em;
}
.cuper h1{
    margin-left: -4em;
    margin-top: 2em;
    font-size: 3em ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(77, 64, 64);
}
.cuper span{
    color: rgba(0, 0, 0, 0.795);

}
.bnt-cuper{
    text-align: left;
    margin-left: 12em;
    margin-top: -22em;
}
.bnt-cuper button{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 21px 60px ;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1em;
    border-color: white;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.btn-contato button{
    width: 170px;
    height: 50px;
    border: 0;
    background-color: rgb(204, 188, 165);
    color: whitesmoke;
    cursor: pointer;
    transition: .2s;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    
&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;

}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;

  }
  &:hover {
    color: white;
    &:before {
    width: 100%;

    }
  }
}
.contatos h4{
    color: silver;
}
.contatos{
    
    margin-left: 8em;
    margin-top: 40em;
}
.contatos ul li{
    display: block;
    margin-top: 20px ;
}
.contatos ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(68, 68, 68);
}
.carro h4{
    color: silver;
}
.carro{
text-align: center;
margin-top:-8.3em ;
}
.carro ul li{
 
    margin-top: 20px ;

}
.carro ul li a{
  text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(68, 68, 68);

}
.service h4{
    color: silver;
}
.service{
    margin-right: 8em;
    text-align: right;
    margin-top:-13em ;
}
.service ul li{
    
    margin-top: 20px;
}
.service ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 68, 68);

}