* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(207, 207, 207);
}

html {
  height: 500vh;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
}

header.rolagem {
  background-color: rgba(177, 171, 171, 0.651);
  padding: 10px 2%;
}

header.rolagem a, header.rolagem i {
  color: rgb(109, 81, 5);
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  color: rgb(109, 81, 5);
  text-decoration: none;
}

.self {
  height: 100vh;
  background-image: url(templete.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.info h1 {
  color: rgba(0, 0, 0, 0.432);
  text-align: right;
  margin-top: -8em;
  font-size: 3.8em;
  margin-right: 2em;
}

.jeep img {
  margin: 5px;
  position: static;
  width: 800px;
}

.pal p {
  color: rgb(0, 0, 0);
  text-align: right;
  margin-right: 20em;
  font-size: 1em;
  margin-top: 60px;
}

.ov img {
  width: 30px;
  height: 30px;
  margin-top: -1.8em;
  position: absolute;
  right: 30em;
}

.self h1 {
  font-style: oblique;
  margin-left: 70px;
  margin-top: 1.8em;
  font-size: 7em;
  color: rgb(218, 213, 213);
}

.dof {
  text-align: right;
  margin-top: 50px;
  margin-right: 18em;
}

.dps {
  color: black;
  text-align: right;
  margin-top: 50px;
  margin-right: 14em;
}

.asd {
  color: black;
  text-align: right;
  margin-top: 50px;
  margin-right: 13em;
}

.bnt-comprar button {
  width: 170px;
  height: 50px;
  border: 0;
  background-color: rgb(148, 125, 93);
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 73em;
  margin-top: 5em;
}

.btn-contato button {
  width: 170px;
  height: 50px;
  border: 0;
  background-color: rgb(204, 188, 165);
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-contato button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 139, 11, 0.452);
  border-radius: 10rem;
  z-index: -2;
}
.btn-contato button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(122, 87, 7, 0.452);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.btn-contato button:hover {
  color: white;
}
.btn-contato button:hover:before {
  width: 100%;
}